<p> Input Image Size (H, W) : </p>

<label for="x-min">X_min: {{xMinValue}}</label>
<input type="range" class="custom-range" [value]="xMinValue"
    (change)="change({id: $event.target.id, value: $event.target.value})" id="x-min">

<label for="x-max">X_max: {{xMaxValue}}</label>
<input type="range" class="custom-range" [value]="xMaxValue"
    (change)="change({id: $event.target.id, value: $event.target.value})" id="x-max">

<label for="y-min">Y_min: {{yMinValue}}</label>
<input type="range" class="custom-range" [value]="yMinValue"
    (change)="change({id: $event.target.id, value: $event.target.value})" id="y-min">

<label for="y-max">Y_max: {{yMaxValue}}</label>
<input type="range" class="custom-range" [value]="yMaxValue"
    (change)="change({id: $event.target.id, value: $event.target.value})" id="y-max">