<p> Input Image Size (H, W) : </p>

<label for="x-min">X_min: {{value1}}</label>
<input type="range" class="custom-range" [value]="value1" (change)="change($event.target.value)" id="x-min">

<label for="x-max">X_max: {{value2}}</label>
<input type="range" class="custom-range" [value]="value2" (change)="change($event.target.value)" id="x-max">

<label for="y-min">Y_min: {{Y_min}}</label>
<input type="range" class="custom-range" (change)="change($event.target.value)" id="y-min">

<label for="y-max">Y_max: {{Y_max}}</label>
<input type="range" class="custom-range" (change)="change($event.target.value)" id="y-max">

<!-- <input
type="range"
[value]="value"
[readonly]="readonly"
(change)="change($event.target.value)"
/> -->